@import url("variable.scss");

// Base styles
html,
body {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  background-color: var(--white);
}

// COMMON CSS START HERE

button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-width: 0px;
  outline: none;
  &.dark {
    background-color: var(--dark-500);
    border: 1px solid var(--dark-500);
    color: var(--grey-50);
    &:hover {
      background-color: var(--white);
      color: var(--dark-500);
    }
  }
  &.tertiary {
    border: 1px solid var(--dark-500);
    color: var(--dark-500);
    background-color: var(--white);
    &:hover {
      background-color: var(--dark-500);
      color: var(--grey-50);
    }
  }
}

img {
  width: 100%;
}

h1 {
  font-size: 5.2rem;
  font-weight: bold;
  color: var(--dark-600);
}

h2 {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--dark-600);
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--dark-600);
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--dark-600);
}

section {
  padding: 6.4rem 0;
}

.bg-grey-50 {
  background-color: var(--grey-50);
}

.section_title {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--dark-600);
  text-align: center;
  margin-bottom: 1.6rem;
}

.section_subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--dark-600);
  text-align: center;
  margin-bottom: 4.8rem;
}

// COMMON CSS ENDS HERE

header {
  border-bottom: 1px solid var(--grey-100);
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  gap: 0.8rem;
  padding: 2.8rem 0;
  .logo_text {
    span {
      color: var(--grey-300);
    }
  }
  .logo_icon {
    max-width: 4rem;
  }
}

.hero__section {
  h1 {
    margin-bottom: 1.6rem;
  }
  h3 {
    margin-bottom: 3.2rem;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .hero__buttons__wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .hero__banner {
    box-shadow: 0 0 10rem 0.4rem rgba($color: #000000, $alpha: 0.1);
    border-radius: 1.6rem;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .features__list {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    padding-left: 3.2rem;
  }
}

.pricing__section {
  .pricing__card {
    border: 1px solid var(--grey-100);
    background-color: var(--white);
    padding: 2.4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    .pricing__title{
        display: flex;
        gap: 0.4rem;
        color: var(--dark-600);
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        span{
            color: var(--grey-300);
        }
    }
    .pricing__subtitle{
        font-size: 1.8rem;
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
        .beta{
            display: inline-block;
            padding: 0.4rem 0.8rem;
            font-size: 1rem;
            color: var(--grey-300);
            background-color: var(--grey-50);
        }
    }
  }
}
