@import url("variable.scss");

// Base styles
* {
  font-family: "Inter", sans-serif;
}

html,
body {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  background-color: var(--white);
}

// COMMON CSS START HERE

button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-width: 0px;
  outline: none;
  &.dark {
    background-color: var(--dark-500);
    border: 1px solid var(--dark-500);
    color: var(--grey-50);
    &:hover {
      background-color: var(--white);
      color: var(--dark-500);
    }
  }
  &.tertiary {
    border: 1px solid var(--dark-500);
    color: var(--dark-500);
    background-color: var(--white);
    &:hover {
      background-color: var(--dark-500);
      color: var(--grey-50);
    }
  }
}

img {
  width: 100%;
}

h1 {
  font-size: 5.2rem;
  font-weight: bold;
  color: var(--dark-600);
}

h2 {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--dark-600);
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--dark-600);
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--dark-600);
}

section {
  padding: 6.4rem 0;
}

.bg-grey-50 {
  background-color: var(--grey-50);
}

.section_title {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--dark-600);
  text-align: center;
  margin-bottom: 1.6rem;
}

.section_subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--dark-600);
  text-align: center;
  margin-bottom: 4.8rem;
}

// COMMON CSS ENDS HERE

// HOMEPAGE CSS

header {
  border-bottom: 1px solid var(--grey-100);
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  gap: 0.8rem;
  padding: 2.8rem 0;
  .logo_text {
    span {
      color: var(--grey-300);
    }
  }
  .logo_icon {
    max-width: 4rem;
  }
}

.hero__section {
  h1 {
    margin-bottom: 1.6rem;
  }
  h3 {
    margin-bottom: 3.2rem;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .hero__buttons__wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .hero__chatbot {
    margin: 1rem 0;
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .features__list {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    padding-left: 3.2rem;
  }
}

.pricing__section {
  .pricing__card {
    border: 1px solid var(--grey-100);
    background-color: var(--white);
    padding: 2.4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.4rem;
    .pricing__title {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.4rem;
      color: var(--dark-600);
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
      span {
        color: var(--grey-300);
      }
    }
    .pricing__subtitle {
      font-size: 1.8rem;
      display: flex;
      gap: 0.8rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.4rem;
      .beta {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        color: var(--grey-300);
        background-color: var(--grey-50);
      }
    }
  }
}

.faq__section {
  .section_title {
    margin-bottom: 4.8rem;
  }
  .faq__card {
    padding: 1.6rem;
    border-radius: 0.8rem;
    margin-bottom: 0.8rem;
    border: 1px solid rgba($color: #000000, $alpha: 0);
    &::before {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      float: right;
      font-size: 1.4rem;
      transition: all 0.2s;
    }
    &.active {
      border: 1px solid var(--grey-100);
      &::before {
        transform: rotate(180deg);
      }
    }
    .faq__card__header {
      font-size: 1.6rem;
      font-weight: 500;
      cursor: pointer;
    }
    .faq__card__body {
      font-size: 1.8rem;
      padding-top: 0.8rem;
      ul {
        padding-left: 3rem;
        margin-bottom: 0;
      }
    }
  }
}

.social__icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  .icon {
    width: 24px;
    height: 24px;
  }
}

footer {
  border-top: 1px solid var(--grey-100);
  padding: 3.2rem 0 16rem;
  text-align: center;
  h2 {
    border-bottom: 1px solid var(--dark-600);
    display: inline-block;
    margin-bottom: 2.4rem !important;
    a {
      color: unset;
      &:hover {
        color: unset;
        text-decoration: none;
      }
    }
  }
  .footer__social {
    margin-bottom: 4.8rem;
  }
  .footer__copymark {
    text-align: center;
    color: var(--grey-300);
    font-size: 1.8rem;
  }
}

// JOYZ AI BOT

.joyzAI__bot {
  box-shadow: 0 0 10rem 0.4rem rgba($color: #000000, $alpha: 0.1);
  border-radius: 1.6rem;
  overflow: hidden;
  .joyzAI__bot__header {
    padding: 1.6rem;
    background-color: var(--grey-50);
    width: 100%;
  }
  .joyzAI__bot__body {
    background-color: var(--white);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    min-height: 350px;
    width: 100%;
    .msg {
      font-size: 1.6rem;
      display: inline-block;
      max-width: 80%;
      padding: 0.8rem;
      border-radius: 0.8rem;
      font-family: "Outfit", sans-serif;
    }
    .incoming__msg {
      background-color: var(--grey-50);
      margin-left: auto;
    }
    .outgoing__msg {
      border: 1px solid var(--grey-100);
      background-color: var(--white);
      margin-right: auto;
    }
    ul {
      padding-left: 2.8rem;
      margin-top: 1.2rem;
      line-height: 2rem;
    }
  }
  .joyzAI__bot__response {
    background-color: var(--white);
    padding: 1.6rem;
    width: 100%;
    .joyzAI__bot__input__wrapper {
      position: relative;
      input {
        border: 1px solid var(--grey-100);
        height: 45px;
        font-size: 1.6rem;
        padding: 0.8rem 4.5rem 0.8rem 1.2rem;
        border-radius: 50px;
        flex: 1;
        width: 100%;
        &:active,
        &:focus {
          outline: none;
        }
      }
      .send__message__button {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        cursor: pointer;
      }
    }
  }
}

// TRYOUT MODAL
.form__modal__wrapper {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .form__modal {
    padding: 6.4rem;
    max-width: 90.5rem;
    width: 90.5rem;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    border-radius: 1.2rem;
    box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.1);
    position: relative;
    .modal__title {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
      color: var(--dark-600);
    }
    .modal__steps {
      padding-left: 2.6rem;
      font-size: 1.8rem;
      color: var(--dark-600);
    }
    .close__modal {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
      cursor: pointer;
    }
  }
}

#surveyElement {
  .sv-page__title {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
  }
  .sv-row {
    margin-bottom: 2.4rem;
  }
  .sv-question__header {
    margin-bottom: 0.4rem;
  }
  .sv-question__title {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .sv-question__content {
    margin-left: 0.5rem;
  }
  .sv-action {
    .sv-btn {
      padding: 0rem 2.4rem;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 0.8rem;
      height: 4rem;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      border-width: 0px;
      outline: none;
      background-color: var(--dark-500);
      border: 1px solid var(--dark-500);
      color: var(--grey-50);
      margin: auto;
      &:hover {
        background-color: var(--white);
        color: var(--dark-500);
      }
    }
  }
  input {
    border: 0px;
    &:focus,
    &.active {
      outline: none;
    }
    &.sv-text {
      border: 0px;
      border-bottom: 1px solid var(--grey-75);
      height: 2.4rem;
      font-size: 1.4rem;
      width: 100%;
      padding: 0.4rem;
      &:focus,
      &.active {
        border-bottom: 1px solid var(--grey-300);
        &.sv-text--error {
          border-bottom: 1px solid var(--red);
        }
      }
    }
    &::placeholder {
      color: rgba($color: #2e2e2e, $alpha: 0.5);
    }

    &.sv-text--error {
      border-bottom: 1px solid var(--red);
      margin-top: 0.8rem;
      color: #000000;
    }
  }
  .sv-question__erbox {
    color: var(--red);
  }
  .sv-page {
    margin: 0;
    width: 100%;
    display: block;
  }
  .sv-description{
    padding-left: 0;
  }

  #sp_100 {
    .sv-page {
      float: left;
      .sv-description {
        width: 50%;
        float: left;
      }
      .sv-row {
        width: 50%;
        float: right;
        padding-bottom: 0;
      }
    }
    .sv-action-bar {
      width: 50%;
      margin-left: auto;
      justify-content: center;
      padding: 0;
      margin-right: 0;
      .sv-action__content {
        padding-right: 0;
      }
    }
  }

  #sp_101{
    .modal__tit{
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
        color: var(--black);
    }
    .modal__sub{
        font-size: 1.4rem;
        margin-bottom: 4rem;
        color: var(--black);
        display: flex;
        align-items: center;
        gap: 0.6rem;
        svg{
            animation: rotate 1s linear infinite;
        }
    }
    .chatbot__basic__details{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 2.4rem;
        color: var(--black);
    }
    .sv-action-bar{
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }
    .sv-dropdown{
        padding-left: 0rem;
    }
  }

  .sv-list__item--selected{
    background-color: var(--dark-500);
  }
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}